# For use with git archive command:
# git archive --worktree-attributes --format=zip --output="$(basename "$PWD").zip" HEAD

* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
/.git export-ignore
/.github export-ignore
/.idea export-ignore
/tests export-ignore
/util  export-ignore
/vendor export-ignore
phpunit.xml export-ignore
