#file: noinspection UndefinedParamsPresent,UndefinedAction,SpellCheckingInspection
name: Run Tests

on:
    push:
        branches:
            - main
            - development
    pull_request:
        branches:
            - main
            - development

jobs:
    run-tests:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '8.2'
                    extensions: mbstring, pdo_sqlite, zip, curl

            -   name: Install Dependencies
                run: composer install --prefer-dist --no-progress

            -   name: Copy .env
                run: cp .env.example .env

            -   name: Run Tests
                run: vendor/bin/phpunit --configuration phpunit.xml
